<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunjian.core.mapper.PurchaseOrderMapper">
	<!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yunjian.core.entity.PurchaseOrder">
        <id column="id" property="id" />
        <result column="order_no" property="orderNo" />
        <result column="account_id" property="accountId" />
        <result column="address_id" property="address" />
        <result column="status" property="status" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
    </resultMap>
    
    <resultMap id="VoResultMap" extends="BaseResultMap" type="com.yunjian.core.vo.PurchaseOrderVo">
    	<result column="userEmail" property="userEmail" />
    	<result column="userName" property="userName" />
    	<result column="phone" property="phone" />
    	<result column="address" property="address" />
    </resultMap>
    
    <select id="selectPageVoOfAppuser" parameterType="java.util.HashMap" resultType="com.yunjian.core.vo.PurchaseOrderVo">
    	select o.id,o.order_no,o.status, o.remark,o.create_time,a.email as userEmail,
    	ad.user_name as userName,ad.phone,ad.address 
    	from tb_purchase_order o
		left join tb_account a on a.id = o.account_id 
		left join tb_address ad on ad.id = o.address_id 
		<where>
		 	<if test="map.orderNo != null and map.orderNo != '' ">
              and o.order_no = #{map.orderNo}
            </if>
		 	<if test="map.email != null and map.email != '' ">
              and a.email =#{map.email}
            </if>
            <if test="map.dealerId != null and map.dealerId != 0 ">
              and a.dealer_id=#{map.dealerId}
            </if>
		</where>
    </select>
    
    <select id="queryPurchaseOrderOfAppuser" parameterType="java.util.HashMap" resultType="com.yunjian.core.vo.PurchaseOrderVo">
    	select o.id,o.order_no,o.status, o.remark,o.create_time,a.email as userEmail,
    	ad.user_name as userName,ad.phone,ad.address 
    	from tb_purchase_order o
		left join tb_account a on a.id = o.account_id 
		left join tb_address ad on ad.id = o.address_id 
		where o.id = #{id}
    </select>
    
</mapper>
